.cartBody{
  background-color: white;
  width: 50vh;
  height: 50vh;
}

.cartItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItemTitles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.cartItems{
  height: 30vh;
  overflow-y: auto;
  
}

.cartItems::-webkit-scrollbar {
  display: none;
}

.cartItemImage{
  width: 75px;
}

.cartButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.quantityInput{
  width: 50px;
  text-align: center;
}