.searchDiv{
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 1em;
}

.searchBar{
  width: 100%;
  height: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
}

.item:hover {
  background-color: #bfbfbf;
}